<sidebar class="site-sidebar">
  <!-- <div class="profile-wrap">
    <a rel="author" href="{{ "/" | relative_url }}">
    <div class="profile-img">
      <img src="/assets/profile.png" alt="">
    </div>
    <div>
      <h1>{{ site.title | escape }}</h1>
      <p>{{site.description}}</p>
    </div>
  </a>
  <p>{{site.email}}</p>
  </div> -->
  <div class="category-wrap">
    <h2>CATEGORIES</h2>
    <ul>
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <li><a href="{{base_path}}/categories/?category={{category_name}}">{{ category_name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="tag-wrap">
    <h2>TAGS</h2>
    <ul>
      {% for tag in site.tags %}
      {% capture tag_name %}{{tag|first|slugize}}{% endcapture %}
      <li>
        <a href="{{base_path}}/categories/?tag={{tag_name}}">
          {{tag_name}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</sidebar>

