<sidebar class="site-sidebar">
  <div>
    <h1>profile</h1>
    <a rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div>
  <div class="category-wrap">
    <h1>CATEGORIES</h1>
    <ul>
    {% for category in site.categories %}
      {% capture category_name %}{{ category | first }}{% endcapture %}
      <li>{{ category_name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="tag-wrap">
    <h1>TAGS</h1>
    <ul>
      {% for tag in site.tags %}
      {% capture tag_name %}{{tag|first|slugize}}{% endcapture %}
      <li>
        <a href="#{{tag_name}}" onclick="showTag('#{{tag_name}}')">
          {{tag_name}}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</sidebar>

<!-- <script>
  $(document).ready(function init() {
    var url = window.location.href;
    var req = /#([^\s]+)$/.exec(url);

    if (!Array.isArray(req)) {
      return false;
    }
    var selector = "#" + req.pop();
    showTag(selector);
  });

  function showTag(selector) {
    $(".archive-group").hide();
    $(selector).show();
  }
</script> -->
