/**
 * Site header
 */
.site-header {
  // border-top: 5px solid $grey-color-dark;
  // border-bottom: 1px solid $grey-color-light;
  min-height: $spacing-unit * 1.865;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
    // added
    position: fixed;
    z-index: 1;
    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}
.site-sidebar {
  width: 200px;
  top: 100px;
  padding: 30px 0;
  margin-left: -300px;
  position: fixed;
  border-right: 2px solid #eee;
  a {
    color: $light-text-color;
  }
  .profile-wrap {
    @include column-flexbox(center, center);

    .profile-img {
      width: 100px;
      height: 100px;
      border: inset $point-color 6px;
      border-radius: 100%;
      overflow: hidden;
      pointer-events: none;
      img {
        height: 100%;
        max-width: none;
        margin-left: -10%;
      }
    }
  }
  .category-wrap {
    margin-top: 20px;
  }
  .tag-wrap {
    margin-top: 20px;
    ul {
      @include flexbox(start, center);
      flex-wrap: wrap;
      margin: 0;
      li {
        list-style: none;
        border: 1px solid #ddd;
        border-radius: 50px;
        padding: 0px 10px;
        margin: 2px;
      }
    }
  }
  @include media-query($on-layout) {
    position: sticky;
    top: 0;
    margin-left: 0;
    padding: 8px 0;
    display: flex;
    background: #fff;
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #eee;
    .profile-wrap {
      .profile-img {
        width: 40px;
        height: 40px;
        border: inset #fee86f 2px;
      }
      a {
        display: flex;
        align-items: center;
        gap: 16px;
        h1 {
          margin: 0;
          font-size: 16px;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
      }
    }
    .category-wrap,
    .tag-wrap {
      display: none;
    }
  }
}
.post-toc {
  width: 220px;
  margin-right: -300px;
  border-left: 4px solid #fee86f;
  position: sticky;
  float: right;
  clear: both;
  margin-top: 200px;
  top: 100px;
  a {
    color: $light-text-color;
  }
  ul {
    margin: 0;
    padding: 0 10px;
    li {
      padding: 4px;
    }
    ul {
      padding: 0 15px;
      font-size: 0.9em;
    }
  }
  * {
    list-style: none;
  }
  @include media-query($on-layout) {
    display: none;
  }
}

/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-summary {
  margin-bottom: 2px;
}

.post-tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Home Layout
 */

.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    border-bottom: 1px solid #ddd;
    a {
      color: $text-color;
      padding: 20px;
      h3 {
        display: inline-block;
        margin-bottom: 4px;
        background-color: #fff;
        // line-height: 18px;
        transition: 0.4s;
      }
      &:hover {
        h3 {
          background-color: #fee86f;
        }
        text-decoration: none;
      }
    }
    .post-content {
      margin: 0;
      font-size: 16px;
      p {
        color: #808080;
        margin: 0;
        padding: 4px 10px;
      }
    }
    .tag-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      h5 {
        font-size: 12px;
      }
    }
  }
  .pc {
    display: block;
  }
  .mb {
    display: none;
  }
  @include media-query($on-layout) {
    .mb {
      display: block;
    }
    .pc {
      display: none;
    }
    margin-left: 0;
    list-style: none;
    > li {
      border-bottom: 1px solid #ddd;
      a {
        color: $text-color;
        padding: 0;
        h3 {
          display: inline-block;
          margin-bottom: 4px;
          line-height: 24px;
          font-size: 20px;
        }
      }
      .post-content {
        margin: 8px 0;
        font-size: 16px;
        p {
          color: #808080;
          margin: 0;
          padding: 0;
        }
      }
      .tag-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        h5 {
          font-size: 12px;
        }
      }
    }
  }
}

/**
 * Pagination
 */
.pagination {
  @include flexbox(between, center);
  .button {
    width: 35%;
    color: $light-text-color;
    padding: 10px 0;
    cursor: pointer;
    span {
      font-size: 12px;
    }
    .icon {
      width: 30px;
      height: 30px;
      margin: 10px;
      color: $point-color;
      border: 1px solid $point-color;
      border-radius: 100px;
      transition: 0.4s;
      @include flexbox(center, center);
    }
    .wrap {
      width: calc(100% - 70px);
      div {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    &.pagination-prev {
      margin: 0 auto 0 0;
      @include flexbox(start, center);
      .icon {
        transform: rotate(180deg);
      }
      .wrap {
        @include column-flexbox(center, start);
        text-align: left;
      }
    }
    &.pagination-next {
      margin: 0 0 0 auto;
      @include flexbox(end, center);
      .wrap {
        @include column-flexbox(center, end);
        text-align: right;
      }
    }
    &:hover {
      text-decoration: none !important;
      color: $text-color;
      .wrap {
        div {
          width: 200%;
          overflow: visible;
        }
      }
      &.pagination-prev {
        .icon {
          transform: rotate(180deg) translateX(4px);
        }
      }
      &.pagination-next {
        .icon {
          transform: translateX(4px);
        }
      }
    }
  }
}
