<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <!-- prefetch -->
  <!-- <link rel="dns-prefetch" href="//iframe-origin.example.com"> -->
  <link rel="preconnect" href="https://yeol0324.github.io/Interactive-UX/#/three/profile" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/sunglasses.glb" as="fetch" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/snowflake.glb" as="fetch" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/lamp.glb" as="fetch" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/bulb.glb" as="fetch" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/cherry.glb" as="fetch" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/swirl.glb" as="fetch" crossorigin>
  <link rel="prefetch" href="https://yeol0324.github.io/Interactive-UX/glb/sparkle.glb" as="fetch" crossorigin>
  
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    {%- if page.url == '/' -%}
    <!-- <div>
      <div class="text-block">
        <p class="wrapper">안녕하세요! Frontend Engineer 이유림입니다. 제가 탐구하고 경험한 이야기들을 정리하고 기록해 둔 블로그입니다. 끊임없이 배우고, 실험하고, 부딪히기가 취미입니다.</p>
      </div>
    </div> -->
    {%- endif -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="speculationrules">
      {
        "prerender": [
          { "source": "list", "urls": ["/about/"] },
          { "source": "list", "urls": ["https://yeol0324.github.io/Interactive-UX/#/three/profile"] }
        ],
        "prefetch": [
          { "source": "list", "urls": ["/about/"] },
          { "source": "list", "urls": ["https://yeol0324.github.io/Interactive-UX/#/three/profile"] }
        ]
      }
      </script>
     </body>
 
</html>
