<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}
    {%- if page.url == '/' -%}
    <!-- <div>
      <div class="text-block">
        <p class="wrapper">안녕하세요! Frontend Engineer 이유림입니다. 제가 탐구하고 경험한 이야기들을 정리하고 기록해 둔 블로그입니다. 끊임없이 배우고, 실험하고, 부딪히기가 취미입니다.</p>
      </div>
    </div> -->
    {%- endif -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
<!-- 
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrambleTextPlugin.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
  <script>
    const st = SplitText.create("p", { type: "chars", charsClass: "char" });
    st.chars.forEach((char) => {
      gsap.set(char, { attr: { "data-content": char.innerHTML } });
    });
    const textBlock = document.querySelector(".text-block");
  
    textBlock.onpointermove = (e) => {
    st.chars.forEach((char) => {
      const rect = char.getBoundingClientRect();
      const cx = rect.left + rect.width / 2;
      const cy = rect.top + rect.height / 2;
      const dx = e.clientX - cx;
      const dy = e.clientY - cy;
      const dist = Math.sqrt(dx * dx + dy * dy);
      if (dist < 100){
        gsap.to(char, {
          overwrite: true,
          duration: 1.2 -dist / 100,
          scrambleText: {
            text: char.dataset.content,
            chars: ".:",
            speed: 0.5,
          },
          ease:'none'
        });
      }
    });
  };
  </script> -->
</html>
