---
layout: default
---

<div class="home-wrap">
  <div class="home">
    <div>
      <div class="text-block">
        <p>안녕하세요! Frontend Engineer 이유림입니다. 제가 탐구하고 경험한 이야기들을 정리하고 기록해 둔 블로그입니다. 끊임없이 배우고, 실험하고, 부딪히기가 취미입니다.</p>
      </div>
    </div>
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    {%- if site.posts.size > 0 -%}
      <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
      <ul class="post-list">
        {%- for post in site.posts -%}
        <li>
          <a class="post-link" href="{{ post.url | relative_url }}">
           <div class="post-img">
             <img src="/assets/images/{{post.categories}}.png" alt="{{ post.title }}" />
           </div>
            <h4>{{ post.title | escape }}</h4>
            <!-- <div class="post-content">
              <p class="pc">
                {{post.content| markdownify | strip_html | truncate: 200 | escape}}
              </p>
              <p class="mb">
                {{post.content| markdownify | strip_html | truncate: 50 | escape}}
              </p>
            </div> -->
            <div class="tag-list">
            {%- for tag in post.tags -%}
              <h5 class="tag-{{tag}}">
                #{{ tag }}
              </h5>
            {%- endfor -%}
            </div>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
          </a>
        </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrambleTextPlugin.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/SplitText.min.js"></script>
<script>
  const st = SplitText.create("p", { type: "chars", charsClass: "char" });
  st.chars.forEach((char) => {
    gsap.set(char, { attr: { "data-content": char.innerHTML } });
  });
  const textBlock = document.querySelector(".text-block");

  textBlock.onpointermove = (e) => {
  st.chars.forEach((char) => {
    const rect = char.getBoundingClientRect();
    const cx = rect.left + rect.width / 2;
    const cy = rect.top + rect.height / 2;
    const dx = e.clientX - cx;
    const dy = e.clientY - cy;
    const dist = Math.sqrt(dx * dx + dy * dy);
    if (dist < 100){
      gsap.to(char, {
        overwrite: true,
        duration: 1.2 -dist / 100,
        scrambleText: {
          text: char.dataset.content,
          chars: ".:",
          speed: 0.5,
        },
        ease:'none'
      });
    }
  });
};
</script>