---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
          <h3>{{ post.title | escape }}</h3>
          <div class="post-content">
            <p>
              {{post.content| markdownify | strip_html | truncate: 280 | escape}}
            </p>
          </div>
          <div class="tag-list">
          {%- for tag in post.tags -%}
            <h5 class="tag-{{tag}}">
              #{{ tag }}
            </h5>
          {%- endfor -%}
          </div>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
